<div class="content-header-background">&nbsp;</div>
<div class="container ">
    <div class="region region-content">
        <section id="block-system-main" class="block block-system clearfix">
            <article id="node-11" class="node node-page clearfix">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">
                            <h2 class="top-space"><span style="color: #0e98a3;">Need for a Driving Licence</span></h2>
                            <p><span style="color: gray;">No person shall drive a motor vehicle in any public place unless he holds an effective driving license issued to him by the Licensing Authority, authorizing him to drive the vehicle.</span></p>
                            <h2 class="top-space"><span style="color: #0e98a3;">Licensing Authorities</span></h2>
                            <p><span style="color: gray;">The Joint Commissioner/ Deputy Commissioner and the Regional Transport Officers are the Licensing Authorities. The Administrative Officers and Motor Vehicle Inspectors are the Additional Licensing Authorities.</span></p>
                            <h2 class="top-space"><span style="color: #0e98a3;">Age limit to obtain Driving Licence</span></h2>
                            <ul class="bullets-alphabet">
                                <li><span style="color: gray;">An applicant who has completed sixteen years of age is eligible to apply for a driving license to drive a motorcycle with engine capacity below 55 cc subject to the condition that the parent or guardian should furnish a declaration in the manner prescribed.</span></li>
                                <li><span style="color: gray;">The applicant who has completed the age of eighteen years of age is eligible to apply for a driving license to drive a motor vehicle other than a transport vehicle.</span></li>
                                <li><span style="color: gray;">An applicant who has completed twenty years of age will be eligible for applying for a license to drive a transport vehicle.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
