<div class="content-header-background">
    <div class="container ">
        <h1><span style="color: #0e98a3;">Permanent License:</span></h1>
        <p><span style="color: gray;">&nbsp;The Facility of online slot booking for test of completence of driving licence has been provided. Please visit the website for scheduling an appointment.</span></p>
        <h2 class="top-space"><span style="color: #0e98a3;">PROCEDURE:</span></h2>
        <ul class="bullets-decimal">
            <li><span style="color: gray;">Schedule an appointment for the test of competence online by visiting the website or any RTO office where such facility exists. In other cases schedule an appointment directly at the Office Concerned.</span></li>
            <li><span style="color: gray;">An application in Form 4, for a permanent driving licence shall be made along with the Learners' Licence obtained for such class of vehicle.</span></li>
            <li><span style="color: gray;">The applicant who has held a valid Learners' Licence, for a period of at least 30 days, shall be competent to appear for the test of competence.</span></li>
            <li><span style="color: gray;">The test of competence will be conducted by the competent authority.</span></li>
            <li><span style="color: gray;">The applicant should bring a vehicle of the type to which the application relates.</span></li>
            <li><span style="color: gray;">The applicant should satisfy the officer conducting the test regarding his capability to drive the vehicle and his ability to perform the tasks specified in Rule-15(2) of the CMVR.</span></li>
            <li><span style="color: gray;">The candidate who passes the test of competence successfully will be issued with a driving licence and sent through speed post to the address funished.</span></li>
            <li><span style="color: gray;">Fees as prescribed along with user charges</span></li>
        </ul>
    </div>
</div>