<div class="content-header-background">
    <div class="container ">
            <h1><span style="color: #0e98a3;">Renewal</span></h1>
    </div>
</div>
<div class="container ">
    <div class="region region-content">
        <section id="block-system-main" class="block block-system clearfix">
            <article id="node-13" class="node node-page clearfix"><header></header>
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">
                            <p><span style="color: gray;">An application for renewal shall be entertained not more than one month before the date of expiry of the licence. If the application is late for more than five years after the date of expiry of the licence, the applicant should undergo all the formalities to obtain a fresh licence.</span></p>
                            <p><span style="color: gray;">If the application for renewal is made previous to, or not more than 30 days after the date of expiry of the licence, the renewal will be made with effect from the date of its expiry. If the application is made more than 30 days after the date of expiry of the licence, the renewal will be made with effect from the date of receipt of proper application. In such cases a fee of Rs. 30/- will be realised.</span></p>
                            <h2 class="top-space"><span style="color: #0e98a3;">Requirements</span></h2>
                            <ul>
                                <li><span style="color: gray;">Driving Licence.</span></li>
                                <li><span style="color: gray;">Application Form No.2.</span></li>
                                <li><span style="color: gray;">Form No.1 (Self-declaration as to the physical fitness for Non-Transport Vehicles)</span></li>
                                <li><span style="color: gray;">or</span></li>
                                <li><span style="color: gray;">Form No. 1A (Medical Certificate for Transport Vehicles only).</span></li>
                                <li><span style="color: gray;">Fees as prescribed along with user charges</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>