<h2 class="top-space"><span style="color: #0e98a3;">A duplicate driving licence will be issued in the following circumstances</span></h2>
<ul>
    <li><span style="color: gray;">When the licence is lost or destroyed</span></li>
    <li><span style="color: gray;">When the licence is defaced or torn or completely written up</span></li>
    <li><span style="color: gray;">When the photograph affixed to the licence requires replacement</span></li>
</ul>
<h2 class="top-space"><span style="color: #0e98a3;">Requirements</span></h2>
<ul>
    <li><span style="color: gray;">Application in Form - 2</span></li>
    <li><span style="color: gray;">Original licence written or defaced if available.</span></li>
    <li><span style="color: gray;">Attested photocopies of DL if available in case of loss of licence.</span></li>
    <li><span style="color: gray;">Fees as prescribed along with user charges</span></li>
</ul>