<div class="content-header-background">
    <div class="container ">
        <h2 class="top-space"><span style="color: #0e98a3;">Addition to a New Class of Vehicle to a Driving Licence</span></h2>
    </div>
</div>
<div class="container ">
    <div class="region region-content">
        <section id="block-system-main" class="block block-system clearfix">
            <article id="node-15" class="node node-page clearfix">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">
                            <p><span style="color: gray;">A person holding a driving licence for Motor Cycle may similarly apply for addition of a light motor vehicle at any time.</span></p>
                            <h2 class="top-space"><span style="color: #0e98a3;">Documents Required</span></h2>
                            <ul>
                                <li><span style="color: gray;">Valid Driving Licence.</span></li>
                                <li><span style="color: gray;">Valid Learners' Licence for the category.</span></li>
                                <li><span style="color: gray;">Application in&nbsp;<a style="color: #001212;" href="https://vahan.nic.in/nrservices/forms/form2.pdf"><span style="color: #001212;">Form</span> 2.</a></span>
                                    <ul>
                                        <li><span style="color: gray;"><a class="font-bold" style="color: #001212;" href="https://vahan.nic.in/nrservices/forms/form1.pdf" target="_blank" rel="noopener">Form 1</a>(Self-declaration as to the physical fitness for Non- Transport vehicles only).</span></li>
                                        <li><span style="color: gray;"><a class="font-bold" style="color: #001212;" href="https://vahan.nic.in/nrservices/forms/form1a.pdf" target="_blank" rel="noopener">Form 1A</a>&nbsp;(Medical Certificate-for Transport Vehicles only).</span></li>
                                    </ul>
                                </li>
                                <li><span style="color: gray;">Fees as prescribed along with user charges.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>