<div class="content-header-background">
    <div class="container ">
        <h1><span style="color: #0e98a3;">International Driving Permit</span></h1>
        <p><span style="color: gray;">International Driving Permit will be issued to an applicant who holds a valid Indian Licence and who is a resident of India. The application shall be made in Form 2 or in writing to the RTO within whose jurisdiction the applicant resides, specifying the countries to be visited and the duration of stay etc.</span></p>
        <h2 class="top-space"><span style="color: #0e98a3;">Requirements</span></h2>
        <ul>
            <li><span style="color: gray;">Valid driving Licence held by the applicant and copies thereon.</span></li>
            <li><span style="color: gray;">Copies of Passport, Visa ( where applicable) and Air ticket for verification.</span></li>
            <li><span style="color: gray;">Fees as prescribed along with user charges.</span></li>
        </ul>
    </div>
</div>