<div class="content-header-background">
    <div class="container ">
        <h2 class="top-space"><span style="color: #0e98a3;">Fee Payable</span></h2>
        <table class="table table-collumn table-responsive table-striped table-condensed" style="border-color: #0e98a3;">
            <tbody>
            <tr class="font-bold center-position">
                <td style="width: 65px;"><strong><span style="color: #000000;">Sl.No.</span></strong></td>
                <td style="width: 213px;"><strong><span style="color: #000000;">Purpose</span></strong></td>
                <td style="width: 322px;"><strong><span style="color: #000000;">Amount in Rs.</span></strong></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">1</span></td>
                <td style="width: 213px;"><span style="color: gray;">Issue of learner&rsquo;s licence in Form 3 for each class of vehicle</span></td>
                <td style="width: 322px;"><span style="color: gray;">150.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">2</span></td>
                <td style="width: 213px;"><span style="color: gray;">Learner&rsquo;s licence test fee or repeat test fee, as the case may be</span></td>
                <td style="width: 322px;"><span style="color: gray;">50.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">3</span></td>
                <td style="width: 213px;"><span style="color: gray;">For the test , or repeat test, as the case may be, of competence to drive (for each class of vehicle)</span></td>
                <td style="width: 322px;"><span style="color: gray;">300.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">4</span></td>
                <td style="width: 213px;"><span style="color: gray;">Issue of a driving licence</span></td>
                <td style="width: 322px;"><span style="color: gray;">200.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">5</span></td>
                <td style="width: 213px;"><span style="color: gray;">Issue of International Driving Permit</span></td>
                <td style="width: 322px;"><span style="color: gray;">1000.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">6</span></td>
                <td style="width: 213px;"><span style="color: gray;">Addition of another class of vehicle to driving licence</span></td>
                <td style="width: 322px;"><span style="color: gray;">500.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">7</span></td>
                <td style="width: 213px;"><span style="color: gray;">Endorsement or renewal of authorisation for vehicle carrying hazardous goods</span></td>
                <td style="width: 322px;"><span style="color: gray;">1000.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">8</span></td>
                <td style="width: 213px;"><span style="color: gray;">Renewal of driving licence</span></td>
                <td style="width: 322px;"><span style="color: gray;">200.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">9</span></td>
                <td style="width: 213px;"><span style="color: gray;">Renewal of a driving licence for which application is made after the grace period</span></td>
                <td style="width: 322px;"><span style="color: gray;">300.00 (Additional fee at the rate of one thousand rupees for delay of each year or part thereof reckoned from the date of expiry of the grace period shall be levied.)</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">10</span></td>
                <td style="width: 213px;"><span style="color: gray;">Issue or renewal of a licence to a school or establishment for imparting instructions in driving</span></td>
                <td style="width: 322px;"><span style="color: gray;">10000.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">11</span></td>
                <td style="width: 213px;"><span style="color: gray;">Issue of a duplicate licence to a school or establishment for imparting instructions in driving</span></td>
                <td style="width: 322px;"><span style="color: gray;">5000.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">12</span></td>
                <td style="width: 213px;"><span style="color: gray;">An appeal against the orders of licensing authority referred to in rule 29</span></td>
                <td style="width: 322px;"><span style="color: gray;">500.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">13</span></td>
                <td style="width: 213px;"><span style="color: gray;">Any application for change in address or any other particulars recorded in the driving licence e.g. address etc.</span></td>
                <td style="width: 322px;"><span style="color: gray;">200.00</span></td>
            </tr>
            <tr>
                <td style="width: 65px;"><span style="color: gray;">THE GAZETTE OF INDIA</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>