<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <p><span style="color: gray;">Motor vehicle in the possession of the dealer shall be exempted from the necessity of the registration subject to the condition that he obtains a trade certificate from the registering authority.No holder of a trade certificate shall deliver a motor vehicle to a purchaser without registration, whether temporary or permanent.A trade certificate granted or renewed under rule 35 shall be in force for a period of twelve months from the date of issue or renewal there of shall be effective throughout India.</span></p>
    <p class="font-bold"><span style="color: gray;">Restrictions on use of trade certificate or trade registration mark and number</span></p>
    <p><span style="color: gray;">A trade certificate shall be used only by the person to whom it is issued and such person shall not allow or offer or cause the certificate or the number assigned in connection there with to be used by any other person;</span></p>
    <p><span style="color: gray;">Provided that the provision of this rule shall not apply where the person to whom the certificate is granted, or a person bonafide in his employment and acting under his authority, or any other person bonafide acting on behalf of the folder of a trade certificate is present in the vehicle , or if such vehicle is designed for use by only one person and is being used by a prospective purchaser of that vehicle for the purpose of reasonable test or trail.</span></p>
    <p class="font-bold"><span style="color: gray;">Purposes for which motor vehicle with trade certificate may be used</span></p>
    <ul class="bullets-alphabet">
        <li><span style="color: gray;">For test, by or on behalf of the holder of a trade certificate during the course of, or after completion of, construction or repair; or</span></li>
        <li><span style="color: gray;">For proceeding to or returning from a weigh bridge for or after weighment, or to and from any place for its registration; or</span></li>
        <li><span style="color: gray;">For a reasonable trail or demonstration by or for the benefit of a prospective purchaser and for proceeding to or returning from the place where such person intends to keeps it; or</span></li>
        <li><span style="color: gray;">For proceeding to or returning from the premises of the dealer or of the purchaser or of any other dealer for the purpose of delivery; or</span></li>
        <li><span style="color: gray;">For proceeding to or returning from a workshop with the objective of fitting a body to the vehicle or painting or for repairs; or</span></li>
        <li><span style="color: gray;">For proceeding to and returning from airport, railway station, wharf for or after being transported, or</span></li>
        <li><span style="color: gray;">For proceeding to or returning from an exhibition of motor vehicles or any place at which the vehicle is to be or has been offered for sale; or</span></li>
        <li><span style="color: gray;">For removing the vehicle after it has been taken possession of by or on behalf of the financier due to any default on the part of the other party under the provisions of an agreement of hire-purchase, lease or hypothecation.</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul class="bullets-decimal">
        <li><span style="color: gray;">Apply for the grant or renewal of a trade certificate in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/trade-certificate#" target="_parent">Form 16</a></span></li>
        <li><span style="color: gray;">Pay appropriate fee and tax as specified in rule 81 of the Central Motor Vehicle Rules 1989</span></li>
        <li><span style="color: gray;">Separate application shall be made for each of the following classes of vehicles,namely:&mdash;</span><br />
            <ul class="bullets-alphabet">
                <li><span style="color: gray;">motor cycle;</span></li>
                <li><span style="color: gray;">invalid carriage;</span></li>
                <li><span style="color: gray;">light motor vehicle;</span></li>
                <li><span style="color: gray;">medium passenger motor vehicle;</span></li>
                <li><span style="color: gray;">medium goods vehicle;</span></li>
                <li><span style="color: gray;">heavy passenger motor vehicle;</span></li>
                <li><span style="color: gray;">heavy goods vehicle;</span></li>
                <li><span style="color: gray;">any other motor vehicle of a specified description</span></li>
            </ul>
        </li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul>
        <li><span style="color: gray;">Application in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/trade-certificate#" target="_parent">Form 16</a></span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989&nbsp;</span>(Rule 34)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
</div>