<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <p><span style="color: gray;">If at any time the trade certificate is lost or destroyed, its holder shall report to the police station in the jurisdiction of which the loss or destruction has occurred and intimate the fact in writing to the registering authority by whom the certificate was issued and apply to the said authority for a duplicate certificate accompanied.</span></p>
    <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul>
        <li><span style="color: gray;">Apply for the duplicate trade certificate in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/issue-duplicate-trade-certificate#" target="_parent">Form 18</a></span></li>
        <li><span style="color: gray;">Pay appropriate fee and tax as specified in rule 81 of the Central Motor Vehicle Rules 1989</span></li>
        <li><span style="color: gray;">If after the issue of a duplicate certificate the original is traced, the same shall be surrendered forthwith to the registering authority by which it was issued</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul>
        <li><span style="color: gray;">Application in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/issue-duplicate-trade-certificate#" target="_parent">Form 18</a></span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989&nbsp;</span>(Rule 38)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states</span>.</div>
</div>