<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <p><span style="color: gray;">A "diplomatic officer" or "consular officer", as recognized by the Central Government, shall have special provision for registration of motor vehicles where the registering authority shall register the vehicle in such manner and shall assign to the vehicle for display thereon a special registration mark in accordance with the provisions contained in those rules and shall issue a certificate of registrationthat the vehicle has been registered under this section; and any vehicle so registered under this section. If any vehicle registered under this section ceases to be the property of any diplomatic officer or consular officer, the certificate of registration issued under this section shall also cease to be effective.</span></p>
    <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul class="bullets-decimal">
        <li><span style="color: gray;">Every application for registration of a motor vehicle under on behalf of any diplomatic officer or consular officer shall be made in triplicate by the head of the mission or consular officer in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/diplomatic-vehicles#" target="_parent">Form 42</a>&nbsp;and be addressed to the registering authority through the Competent Authority</span></li>
        <li><span style="color: gray;">Pay appropriate fee and tax as specified in rule 81 of the Central Motor Vehicle Rules 1989</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul>
        <li><span style="color: gray;">Application in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/diplomatic-vehicles#" target="_parent">Form 42</a></span></li>
        <li><span style="color: gray;">Road worthiness certificate in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/diplomatic-vehicles#" target="_parent">Form 22</a>&nbsp;from the manufacturers (<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/diplomatic-vehicles#" target="_parent">Form 22A</a>&nbsp;from the Body builder)</span></li>
        <li><span style="color: gray;">Pollution under control certificate</span></li>
        <li><span style="color: gray;">Valid insurance certificate</span></li>
        <li><span style="color: gray;">Proof of address (Ration card, Electricity bill etc.)</span></li>
        <li><span style="color: gray;">Design approval copy of STA in case Trailer or Semi-Trailer</span></li>
        <li><span style="color: gray;">Original sales certificate from the concerned authorities in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/diplomatic-vehicles#" target="_parent">Form 21</a>&nbsp;in the case of ex-army vehicle</span></li>
        <li><span style="color: gray;">Custom's clearance certificate along with licence, and bond in case of imported vehicle</span></li>
        <li><span style="color: gray;">Temporary registration, if any</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span class="font-bold" style="color: gray;">The Motor Vehicles Act 1988 (Section 42 of Chapter IV)</span></li>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989</span>&nbsp;(Rule 76)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
</div>