<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <ul class="bullets-decimal">
        <li class="bottom-space"><span class="font-bold" style="color: black;">Transfer of ownership in case of normal sale</span><br /><span style="color: gray;">When a vehicle is sold, the name of the purchaser is noted as the registered owner in place of the previous registered owner and the process is known as transfer of ownership.</span></li>
        <li class="bottom-space"><span class="font-bold" style="color: black;">Transfer of ownership on death of owner of the vehicle</span><br /><span style="color: gray;">When the registered owner of a vehicle dies, transfer of ownership is affected in favour of the legal heirs of the deceased registered owner. Where the owner ofa motor vehicle dies, the person succeeding to the possession of the vehicle may for a period of three months, use the vehicle as if it has been transferred to him where such person has, within thirty days of the death of the owner informs the registering authority of the occurrence of the death of the owner and of his own intention to use the vehicle</span></li>
        <li class="bottom-space"><span class="font-bold" style="color: black;">Transfer of ownership of vehicle purchased in public auction</span><br /><span style="color: gray;">When a vehicle is sold in public auction, the name of the purchaser is noted as the registered owner in place of the previous registered owner and the process is known as transfer of ownership on auction.</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul class="bullets-decimal">
        <li class="bottom-space"><span class="font-bold" style="color: black;">Transfer of ownership in case of normal sale</span><br />
            <ul class="bullets-alphabet">
                <li><span style="color: gray;">Where the ownership of a motor vehicle is transferred, the transferor shall report the fact of transfer in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form29.pdf" target="_blank" rel="noopener">Form 29</a>&nbsp;to the registering authorities concerned in whose jurisdiction the transferor and the transferee reside or have their places of business.</span></li>
                <li><span style="color: gray;">in the case of a vehicle registered within the same State, within fourteen days of the transfer, application for the transfer of ownership of a motor vehicle shall be made by the transferee in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form30.pdf" target="_blank" rel="noopener">Form 30</a>&nbsp;to the registering authorities, and shall be accompanied by set of forms given below under Form I</span></li>
                <li><span style="color: gray;">in the case of a vehicle registered outside the State, within forty-five days of the transfer, application for the transfer of ownership of a motor vehicle shall be made by the transferee in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form30.pdf" target="_blank" rel="noopener">Form 30</a>&nbsp;to the registering authorities, and shall be accompanied by set of forms given below under Form I and Form II</span></li>
                <li><span style="color: gray;">Pay appropriate fee and tax as specified in rule 81 of the Central Motor Vehicle Rules 1989</span></li>
            </ul>
        </li>
        <li class="bottom-space"><span class="font-bold" style="color: black;">Transfer of ownership on death of owner of the vehicle</span><br />
            <ul class="bullets-alphabet">
                <li><span style="color: gray;">Apply in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form31.pdf" target="_blank" rel="noopener">Form 31</a>&nbsp;within the period of three months to the registering authority for the transfer of ownership of the vehicle in your name</span></li>
                <li><span style="color: gray;">Pay appropriate fee and tax as specified in rule 81 of the Central Motor Vehicle Rules 1989</span></li>
            </ul>
        </li>
        <li class="bottom-space"><span class="font-bold" style="color: black;">Transfer of ownership of vehicle purchased in public auction</span><br />
            <ul class="bullets-alphabet">
                <li><span style="color: gray;">The person who has acquired or purchased a motor vehicle at a public auction conducted by or on behalf of the Central Government or a State Government shall apply in Form 32 within thirty days of taking possession of the vehicle to the registering authority</span></li>
                <li><span style="color: gray;">Pay appropriate fee and tax as specified in rule 81 of the Central Motor Vehicle Rules 1989</span></li>
            </ul>
        </li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul class="bullets-decimal">
        <li class="bottom-space"><span class="font-bold" style="color: black;">Transfer of ownership in case of normal sale</span><br />
            <ul class="bullets-alphabet">
                <li><span style="color: gray;"><a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form29.pdf" target="_blank" rel="noopener">Form 29</a></span></li>
                <li><span style="color: gray;"><a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form30.pdf" target="_blank" rel="noopener">Form 30</a></span></li>
            </ul>
            <div class="bottom-space"><span class="font-bold" style="color: black;">Form I</span><br />
                <ul class="bullets-decimal">
                    <li><span style="color: gray;">Certificate of registration</span></li>
                    <li><span style="color: gray;">Certificate of insurance</span></li>
                    <li><span style="color: gray;">Certificate of pollution under control<span class="red-color">*</span></span></li>
                    <li><span style="color: gray;">PAN card (seller and purchaser) or&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form60.pdf" target="_blank" rel="noopener">Form 60</a><span class="red-color">*</span></span></li>
                    <li><span style="color: gray;">Chassis &amp; Engine Pencil Print<span class="red-color">*</span></span></li>
                    <li><span style="color: gray;">Proof of Date of Birth of purchaser<span class="red-color">*</span></span></li>
                    <li><span style="color: gray;">Proof of address<span class="red-color">*</span></span></li>
                    <li><span style="color: gray;">R.C. Book</span></li>
                    <li><span style="color: gray;">Purchaser's undertaking<span class="red-color">*</span></span></li>
                    <li><span style="color: gray;">Passport size photograph<span class="red-color">*</span></span></li>
                    <li><span style="color: gray;">Tax clearance certificate<span class="red-color">*</span></span></li>
                </ul>
            </div>
            <div class="bottom-space"><span class="font-bold" style="color: black;">Form II</span><br />
                <ul class="bullets-decimal">
                    <li><span style="color: gray;">a no objection certificate granted by the registering authority</span></li>
                    <li><span style="color: gray;">an order of the registering authority refusing to grant the no objection certificate; or</span></li>
                    <li><span style="color: gray;">where the no objection certificate or the order, as the case may be, has not been received, a declaration by the transferor that he has not received any such communication together with&mdash;</span><br />
                        <ul class="bullets-alphabet">
                            <li><span style="color: gray;">The receipt obtained from the registering authority; or</span></li>
                            <li><span style="color: gray;">The postal acknowledgement received from the registering authority where the application for no objection certificate has been sent by post.</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bottom-space"><span class="font-bold" style="color: black;">Transfer of ownership on death of owner of the vehicle</span><br />
            <ul class="bullets-alphabet">
                <li><span style="color: gray;"><a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form31.pdf" target="_blank" rel="noopener">Form 31</a></span></li>
                <li><span style="color: gray;">Certificate of registration</span></li>
                <li><span style="color: gray;">Certificate of insurance</span></li>
                <li><span style="color: gray;">Death certificate in relation to the registered owner</span></li>
                <li><span style="color: gray;">Certificate of pollution under control<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">PAN card (successor) or&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form60.pdf" target="_blank" rel="noopener">Form 60</a><span class="red-color">*</span></span></li>
                <li><span style="color: gray;">Chassis &amp; Engine Pencil Print<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">Proof of Date of Birth of successor<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">Proof of address<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">Signature Identification of Seller<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">Declaration by the applicant and all other Legal Heirs of the deceased<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">Verification of vehicle on&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form20.pdf" target="_blank" rel="noopener">Form 20</a><span class="red-color">*</span></span></li>
                <li><span style="color: gray;">R.C. Book</span></li>
                <li><span style="color: gray;">Passport size photograph<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">Proof of succession<span class="red-color">*</span></span></li>
            </ul>
        </li>
        <li class="bottom-space"><span class="font-bold" style="color: black;">Transfer of ownership of vehicle purchased in public auction</span><br />
            <ul class="bullets-alphabet">
                <li><span style="color: gray;"><a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/ownership-transfer#" target="_parent">Form 32</a></span></li>
                <li><span style="color: gray;">Certificate of registration</span></li>
                <li><span style="color: gray;">Certificate of insurance</span></li>
                <li><span style="color: gray;">Certificate or order confirming the sale of the vehicle in his favour duly signed by the person authorised to conduct the auction; and</span></li>
                <li><span style="color: gray;">Certified copy of the order of the Central Government or State Government authorising the auction of the vehicle</span></li>
                <li><span style="color: gray;">Certificate of pollution under control<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">PAN card (seller and purchaser) or&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form60.pdf" target="_blank" rel="noopener">Form 60</a><span class="red-color">*</span></span></li>
                <li><span style="color: gray;">Chassis &amp; Engine Pencil Print<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">Proof of Date of Birth of purchaser<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">Proof of address<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">Purchaser's undertaking<span class="red-color">*</span></span></li>
                <li><span style="color: gray;">R.C. Book</span></li>
                <li><span style="color: gray;">Passport size photograph<span class="red-color">*</span></span></li>
            </ul>
        </li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span class="font-bold" style="color: gray;">The Motor Vehicles Act 1988 (Section 50 of Chapter IV)</span></li>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989&nbsp;</span>(Rule 55, 56, 57)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
</div>