<div class="content-header-background">
    <div class="container ">
        <div class="region region-content">
            <section id="block-system-main" class="block block-system clearfix">
                <article id="node-39" class="node node-page clearfix">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">
                                <h2><span style="color: #0e98a3;">About</span></h2>
                                <p><span style="color: gray;">As given on the parivahan website<span class="red-color">*</span></span></p>
                                <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
                                <ul>
                                    <li><span class="font-bold" style="color: gray;">The Motor Vehicles Act 1988 (Section 41 of Chapter IV)</span></li>
                                    <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989</span>&nbsp;(Rule 50, 51)</span></li>
                                    <li><span style="color: gray;">State transport official websites</span></li>
                                </ul>
                                <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>