<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <p><span style="color: gray;">As per CMVR, the vehicle can be driven or allowed to be driven in public place only after registration by registering authority as under the provision of section 39 of motor vehicle Act 1988. An application for registration of a motor vehicle is required to be made to the registering authority within a period of seven days from the date of taking delivery of such vehicle, excluding the period of journey.</span></p>
        <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul>
        <li><span style="color: gray;">Apply for permanent registration of a motor vehicle in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form20.pdf" target="_blank" rel="noopener">Form 20</a>&nbsp;to the Registering Authority in whose jurisdiction the vehicle is</span></li>
        <li><span style="color: gray;">If the vehicle has been temporarily registered then apply before the temporary registration expires</span></li>
        <li><span style="color: gray;">Confirm whether the registration involves hypothecation in which case refer&nbsp;<span class="font-bold text-underline">Hypothecation</span></span></li>
        <li><span style="color: gray;">Confirm the type of registration number (Fancy number/Choice number/General number).</span></li>
        <li><span style="color: gray;">Confirm about the usage requirement of HSRP/smart card</span></li>
        <li><span style="color: gray;">Pay appropriate fee as specified in Rule 81 of Central Motor Vehicle Rules 1989 depending on the choice of registration number and use of HSRP/smart card</span></li>
        <li><span style="color: gray;">Pay Tax as per Central Motor Vehicle Rules 1989 depending on the choice of registration number and use of HSRP/smart card</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul>
        <li><span style="color: gray;">Application in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form20.pdf" target="_blank" rel="noopener">Form 20</a></span></li>
        <li><span style="color: gray;">Sales certificate in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/permanent-registration#" target="_parent">Form 21</a></span></li>
        <li><span style="color: gray;">Road worthiness certificate in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/permanent-registration#" target="_parent">Form 22</a>&nbsp;from the manufacturers (<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/permanent-registration#" target="_parent">Form 22A</a>&nbsp;from the Body builder)</span></li>
        <li><span style="color: gray;">Pollution under control certificate</span></li>
        <li><span style="color: gray;">Valid insurance certificate</span></li>
        <li><span style="color: gray;">Proof of address (Ration card, Electricity bill etc.)</span></li>
        <li><span style="color: gray;">Design approval copy of STA in case Trailer or Semi-Trailer</span></li>
        <li><span style="color: gray;">Original sales certificate from the concerned authorities in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/permanent-registration#" target="_parent">Form 21</a>&nbsp;in the case of ex-army vehicle</span></li>
        <li><span style="color: gray;">Custom's clearance certificate along with licence, and bond in case of imported vehicle</span></li>
        <li><span style="color: gray;">Temporary registration, if any</span></li>
        <li><span style="color: gray;"><a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form34.pdf" target="_blank" rel="noopener">Form 34</a>&nbsp;(in case of HP endorsement)</span></li>
        <li><span style="color: gray;">Copy of PAN card of&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form60.pdf" target="_blank" rel="noopener">Form 60</a>&nbsp;and&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/permanent-registration#" target="_parent">Form 61</a>&nbsp;(as applicable)<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Permit proceedings in case of transport vehicle<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Municipal Corporation parking fee<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Dealer and manufacturer invoice<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Passport size photographs<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Proof of Date of Birth<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Chassis &amp; Engine Pencil Print<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Form CMV&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/permanent-registration#" target="_parent">Form 22A</a>&nbsp;in case of Body built vehicle (EX. Goods vehicle, bus etc.)<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Bonafide agriculture certificate issued by Tehsildar in case of registration of tractor-trailer unit used for agriculture<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Form-A under Taxation Act, 1997<span class="red-color">*</span></span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span class="font-bold" style="color: gray;">The Motor Vehicles Act 1988 (Section 41 of Chapter IV)</span></li>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989&nbsp;</span>(Rule 47)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
</div>