<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <p><span style="color: gray;">Every registration certificate is required to be renewed not more than 60 days before the date of its expiry of the registration for its continuous use.</span></p>
    <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul>
        <li><span style="color: gray;">Apply for renewal of certificate of registration in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/renewal-rc#" target="_parent">Form 25</a>&nbsp;to the Registering Authority in whose jurisdiction the vehicle is, not more than 60 days before the date of its expiry</span></li>
        <li><span style="color: gray;">Pay the due taxes on vehicle, if any</span></li>
        <li><span style="color: gray;">Pay appropriate fee as specified in Rule 81 of the Central Motor Vehicle Rules 1989</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul>
        <li><span style="color: gray;">Application in&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/renewal-rc#" target="_parent">Form 25</a></span></li>
        <li><span style="color: gray;">Pollution under control certificate</span></li>
        <li><span style="color: gray;">R.C.Book<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Fitness certificate<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Certificate of registration<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Proof for the payment of up-to-date road tax paid<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Insurance certificate<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Copy of PAN card or&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form60.pdf" target="_blank" rel="noopener">Form 60</a>&nbsp;&amp;&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/renewal-rc#" target="_parent">Form 61</a>&nbsp;(as applicable)<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Chassis &amp; Engine Pencil Print<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Signature Identification of owner<span class="red-color">*</span></span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span class="font-bold" style="color: gray;">The Motor Vehicles Act 1988 (Section 41 of Chapter IV)</span></li>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989&nbsp;</span>(Rule 52)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
</div>