<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <p><span style="color: gray;">When a registration certificate of a vehicle is reported to be lost, mutilated, torn or used-up, duplicate registration certificate is issued to the registered owner.</span></p>
    <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul>
        <li><span style="color: gray;">If at any time, the certificate of registration is lost or destroyed, report to the police station in the jurisdiction of which the loss or destruction has occurred and intimate that fact in writing to the registering authority by whom the certificate of registration was issued</span></li>
        <li><span style="color: gray;">Apply for duplicate certificate of registration to the last registering authority in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form26.pdf" target="_blank" rel="noopener">Form 26</a></span></li>
        <li><span style="color: gray;">Pay appropriate fee as specified in Rule 81 of the Central Motor Vehicle Rules 1989</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul>
        <li><span style="color: gray;">Application in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form26.pdf" target="_blank" rel="noopener">Form 26</a></span></li>
        <li><span style="color: gray;">Police certificate</span></li>
        <li><span style="color: gray;">Pollution under control certificate</span></li>
        <li><span style="color: gray;">Valid insurance certificate<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Proof of address<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Challan clearance from traffic police &amp; Enforcement wing Transport Department in commercial vehicles<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Tax clearance from Accounts Department in commercial vehicles<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Attested copy of PAN Card or&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form60.pdf" target="_blank" rel="noopener">Form 60</a>&nbsp;&amp;&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/duplicate-rc#" target="_parent">Form 61</a>(as applicable)<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Chassis &amp; Engine Pencil Print<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Signature Identification of owner<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Affidavit stating that RC is lost and has not been impounded<span class="red-color">*</span></span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span class="font-bold" style="color: gray;">The Motor Vehicles Act 1988 (Section 41 of Chapter IV)</span></li>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989&nbsp;</span>(Rule 53)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
</div>