<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <p><span style="color: gray;">If the owner desires to remove or sell his vehicle outside the jurisdiction of the registering authority within or outside the State then the owner shall file the application for issue of clearance certificate with the registering authority where the vehicle is registered.</span></p>
    <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul>
        <li><span style="color: gray;">Apply for no objection certificate under section 48 in in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form28.pdf" target="_blank" rel="noopener">Form 28</a>&nbsp;to the registering authority by which the vehicle was previously registered</span></li>
        <li><span style="color: gray;">In the case of a transport vehicle, furnish additional documentary evidence (permit surrender, challan clearance, tax clearance, fitness clearance)</span></li>
        <li><span style="color: gray;">Pay the due taxes on vehicle, if any</span></li>
        <li><span style="color: gray;">Pay appropriate fee as specified in Rule 81 of the Central Motor Vehicle Rules 1989</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul>
        <li><span style="color: gray;">Application in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form28.pdf" target="_blank" rel="noopener">Form 28</a></span></li>
        <li><span style="color: gray;">Certified copy of the certificate of registration</span></li>
        <li><span style="color: gray;">Certified copy of the certificate of insurance</span></li>
        <li><span style="color: gray;">Evidence of payment of motor vehicle tax up-to-date</span></li>
        <li><span style="color: gray;">Pollution under control certificate</span></li>
        <li><span style="color: gray;">Chassis &amp; Engine Pencil Print<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Signature Identification of owner<span class="red-color">*</span></span></li>
    </ul>
    <div class="font-bold"><span style="color: gray;">Additional documentary evidence for transport vehicle</span></div>
    <ul>
        <li><span style="color: gray;">Vehicle is not covered by any permit issued by any transport authority</span></li>
        <li><span style="color: gray;">Sum of money agreed upon to be paid by the holder of the permit, if any, is not pending recovery</span></li>
        <li><span style="color: gray;">Evidence of payment of tax on passengers and goods under any law for the time being in force up to the date of application for no objection certificate</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span class="font-bold" style="color: gray;">The Motor Vehicles Act 1988 (Section 48 of Chapter IV)</span></li>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989&nbsp;</span>(Rule 54)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
</div>