<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <p><span style="color: gray;">The Motor Vehicle Act 1988 gives provision to apply for recording a change of residence address of registered owner in the certificate of registration of the motor vehicle.</span></p>
    <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul>
        <li><span style="color: gray;">Apply for recording the change in residence (within 14 days of address changed) in the certificate of registration of a motor vehicle of the registered owner of the vehicle in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form33.pdf" target="_blank" rel="noopener">Form 33</a></span></li>
        <li><span style="color: gray;">Pay appropriate fee as specified in rule 81 of the Central Motor Vehicle Rules 1989</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul>
        <li><span style="color: gray;">Application in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form33.pdf" target="_blank" rel="noopener">Form 33</a></span></li>
        <li><span style="color: gray;">Certificate of registration</span></li>
        <li><span style="color: gray;">Proof of new address</span></li>
        <li><span style="color: gray;">Valid insurance certificate</span></li>
        <li><span style="color: gray;">Pollution under control certificate</span></li>
        <li><span style="color: gray;">No Objection Certificate from financier (in case of hypothecation)<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Smart card fee<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Attested cop of PAN card or&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form60.pdf" target="_blank" rel="noopener">Form 60</a>&nbsp;and&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/address-change#" target="_parent">Form 61</a>(as applicable)<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Chassis &amp; Engine Pencil Print<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Signature Identification of owner<span class="red-color">*</span></span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span class="font-bold" style="color: gray;">The Motor Vehicles Act 1988 (Section 49 of Chapter IV)</span></li>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989&nbsp;</span>(Rule 59)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
</div>