<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <p><span style="color: gray;">HP endorsement refers to an application for making an entry of hire-purchase, lease or hypothecation agreement in the certificate of registration of the motor vehicle.</span></p>
    <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul>
        <li><span style="color: gray;">Apply for making an entry of hire-purchase, lease or hypothecation agreement in the certificate of registration of a motor vehicle in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form34.pdf" target="_blank" rel="noopener">Form 34</a>, duly signed by the registered owner of the vehicle and the financier</span></li>
        <li><span style="color: gray;">Provide certificate of registration and the appropriate fee as specified in rule 81 of the Central Motor Vehicle Rules 1989</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul>
        <li><span style="color: gray;">Application in Form&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form34.pdf" target="_blank" rel="noopener">Form 34</a></span></li>
        <li><span style="color: gray;">Certificate of registration</span></li>
        <li><span style="color: gray;">Certificate from financier for having retained full dues from the financier (for deletion case only)</span></li>
        <li><span style="color: gray;">Proof of address<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Valid insurance certificate<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Pollution under control certificate<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">R.C.Book*</span></li>
        <li><span style="color: gray;">Attested copy of PAN Card or&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form60.pdf" target="_blank" rel="noopener">Form 60</a>&nbsp;&amp;&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/hp-endorsement#" target="_parent">Form 61</a>(as applicable)<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Chassis &amp; Engine Pencil Print<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Signature Identification of owner<span class="red-color">*</span></span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span class="font-bold" style="color: gray;">The Motor Vehicles Act 1988 (Section 51 of Chapter IV)</span></li>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989&nbsp;</span>(Rule 60)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
</div>