<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <p><span style="color: gray;">HP termination refers to an application for making an entry of termination of agreement of hire purchase, lease or hypothecation agreement in the certificate of hypothecation.</span></p>
    <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul>
        <li><span style="color: gray;">Apply for making an entry of hire-purchase, lease or hypothecation agreement in the certificate of registration of a motor vehicle in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form35.pdf" target="_blank" rel="noopener">Form 35</a>, duly signed by the registered owner of the vehicle and the financier</span></li>
        <li><span style="color: gray;">Confirm whether it is the case of termination due to failure to make repayment to financier</span></li>
        <li><span style="color: gray;">If all dues are cleared then provide certificate of due clearance from financier</span></li>
        <li><span style="color: gray;">Pay appropriate fee as specified in rule 81 of the Central Motor Vehicle Rules 1989</span></li>
        <li><span style="color: gray;">If the termination is due to failure of repayment the financier then RC should be issued in the name of financier</span></li>
    </ul>
    <div class="font-bold"><span style="color: gray;">Issuance of RC in the name of financier</span></div>
    <ul>
        <li><span style="color: gray;">Apply for the issue of a fresh certificate of registration in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form36.pdf" target="_blank" rel="noopener">Form 36</a></span></li>
        <li><span style="color: gray;">Provide allotment letter of the vehicle</span></li>
        <li><span style="color: gray;">Provide the insurance certificate</span></li>
        <li><span style="color: gray;">Pay appropriate fee for transfer of ownership as specified in rule 81 of the Central Motor Vehicle Rules 1989</span></li>
        <li><span style="color: gray;">A notice will be issued to the registered owner of the vehicle if he refuses to deliver the certificate of registration to the financier or absconds</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul>
        <li><span style="color: gray;">Application in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form35.pdf" target="_blank" rel="noopener">Form 35</a></span></li>
        <li><span style="color: gray;">Certificate of registration</span></li>
        <li><span style="color: gray;">Allotment letter of the vehicle</span></li>
        <li><span style="color: gray;">Valid insurance certificate</span></li>
        <li><span style="color: gray;">Proof of address<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Pollution under control certificate<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">R.C.Book<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Attested cop of PAN card or&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form60.pdf" target="_blank" rel="noopener">Form 60</a>&nbsp;and&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/hp-termination#" target="_parent">Form 61</a>&nbsp;(as applicable)<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">No Objection Certificate from financier<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Chassis &amp; Engine Pencil Print<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Signature Identification of owner<span class="red-color">*</span></span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span class="font-bold" style="color: gray;">The Motor Vehicles Act 1988 (Section 51 of Chapter IV)</span></li>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989&nbsp;</span>(Rule 61)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
</div>