<div class="content-header-background">
    <h2><span style="color: #0e98a3;">About</span></h2>
    <p><span style="color: gray;">When a motor vehicle registered in one States has been kept in another State, for a period exceeding twelve months, the owner of the vehicle shall, within such period and in such form containing such particulars as may be prescribed by the Central Government, apply to the registering authority, within whose jurisdiction the vehicle then is, for the assignment of a new registration mark and shall present the certificate of registration to that registering authority.</span></p>
    <h2 class="top-space"><span style="color: #0e98a3;">Guidelines</span></h2>
    <ul>
        <li><span style="color: gray;">Apply for assignment of new registration mark to a motor vehicle in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form27.pdf" target="_blank" rel="noopener">Form 27</a>&nbsp;within 12 months of re-assignment of the vehicle from one state to another</span></li>
        <li><span style="color: gray;">Pay appropriate fee and tax as specified in rule 81 of the Central Motor Vehicle Rules 1989</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Documents required</span></h2>
    <ul>
        <li><span style="color: gray;">Application in&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form27.pdf" target="_blank" rel="noopener">Form 27</a></span></li>
        <li><span style="color: gray;">Certificate of registration</span></li>
        <li><span style="color: gray;">Proof of residence</span></li>
        <li><span style="color: gray;">No Objection Certificate</span></li>
        <li><span style="color: gray;">Insurance certificate</span></li>
        <li><span style="color: gray;">Pollution under control certificate</span></li>
        <li><span style="color: gray;"><a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form28.pdf" target="_blank" rel="noopener">Form 28</a><span class="red-color">*</span></span></li>
        <li><span style="color: gray;"><a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form20.pdf" target="_blank" rel="noopener">Form 20</a><span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Challan clearance from traffic police or enforcement wing of transport department (in case of commercial vehicles)<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Fitness certificate<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">PAN Card or&nbsp;<a class="font-bold" style="color: gray;" href="https://vahan.nic.in/nrservices/forms/form60.pdf" target="_blank" rel="noopener">Form 60</a>&nbsp;and&nbsp;<a class="font-bold" style="color: gray;" href="https://parivahan.gov.in/parivahan/en/content/reassignment-0#" target="_parent">Form 61</a>&nbsp;( as applicable)<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Parking fee*</span></li>
        <li><span style="color: gray;">Certificate manufactured regarding emission norms<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Chassis &amp; Engine Pencil Print*</span></li>
        <li><span style="color: gray;">Proof of Date of Birth<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Proof of seller&rsquo;s address<span class="red-color">*</span></span></li>
        <li><span style="color: gray;">Signature identification of seller</span></li>
    </ul>
    <h2 class="top-space"><span style="color: #0e98a3;">Reference</span></h2>
    <ul>
        <li><span class="font-bold" style="color: gray;">The Motor Vehicles Act 1988 (Section 47 of Chapter IV)</span></li>
        <li><span style="color: gray;"><span class="font-bold">The Central Motor Vehicles Rules 1989&nbsp;</span>(Rule 54)</span></li>
        <li><span style="color: gray;">State transport official websites</span></li>
    </ul>
    <div class="red-color"><span style="color: gray;">Documents marked with asterisk (*) may be required in some states.</span></div>
</div>